<div *ngIf="data.action === 'warrior'">  
    <div fxLayout="row">
        <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile" (click)="closePop('')">😄 <span class="emojiTxt">Amazing</span></h2>
        <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile" (click)="closePop('')">😊 <span class="emojiTxt">Happy</span></h2>
        <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile" (click)="showTxt('neutral')">😐 <span class="emojiTxt">Neutral</span></h2>
        <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile" (click)="showTxt('sad')">☹ <span class="emojiTxt">Sad</span> </h2>
        <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile" (click)="showTxt('angry')">😡 <span class="emojiTxt">Angry</span></h2>
    </div>
    <div mat-dialog-content fxLayoutAlign="center center">
        <h3 *ngIf="!emojiInd">Hi Warrior, Tell us how you are feeling today.</h3>
        <h3 *ngIf="emojiInd">Sorry to see you in {{ emojiStatus }} mood. Would you like to talk with someone? Click Yes to start a conversation!!!</h3>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="button_outline" (click)="openChatBot()" *ngIf="emojiInd">Yes</button>
      <button mat-button mat-dialog-close class="button_dark" (click)="closePop('close')">Close</button>
    </div>
</div>
<div *ngIf="data.action === 'doctor'">
  <div mat-dialog-content fxLayoutAlign="center center"  fxLayout="column" style="text-align: center;">
      <h3>Hi Doctor, below warrior needs attention. Do you want to chat with warrior.</h3>
      <h3>Rajesh@123</h3>
      <h4>Click Yes to chat!!</h4>
  </div>
  <div mat-dialog-actions fxLayoutAlign="center center">
    <button mat-button mat-dialog-close class="button_outline" (click)="openChatBot()">Yes</button>
    <button mat-button mat-dialog-close class="button_dark" (click)="closePop('close')">No</button>
  </div>
</div>