<div>
  
<div fxLayout="row" (click)="closePop()">
    <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile">😄</h2>
    <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile">😊</h2>
    <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile">😐</h2>
    <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile">☹</h2>
    <h2 mat-dialog-title class="emoji" ngClass.xs="emoji-mobile">😡</h2>
</div>
    <div mat-dialog-content fxLayoutAlign="center center"><h3>Hi Warrior, Tell us how you are feeling today.</h3></div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="button_outline">Close</button>
    </div>
</div>