.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.test-end {
    margin-right: 2vw;
}
.expansion-panel{
  margin: 2vw !important;
}
.expansion-header {
  height: 125px !important;
  padding: 2vw;
}