
 <!-- Test Flow with positive steps -->
 <mat-accordion  ngClass.gt-md="test-flow"  ngClass.lt-md="test-flow-mobile"
 class="example-headers-align" fxLayoutGap="2vw">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle >
    <mat-expansion-panel-header >
      <mat-panel-title>
        Mammogram
      </mat-panel-title>
      <mat-panel-description>
        First Step of Screening in Breast Cancer
      </mat-panel-description>
    </mat-expansion-panel-header>

   <div>
    A mammogram is an X-ray examination of the breast. It is used to detect and diagnose breast disease in women who either have breast problems, such as a lump, pain, or nipple discharge, as well as for women who have no breast complaints.
   </div>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header fxLayout.xs="column" ngClass.lt-md="test-flow-heading">
      <mat-panel-title>
        Breast UltraSound
      </mat-panel-title>
      <mat-panel-description>
        It is most often done to find out if a problem found by a mammogram or physical exam of the breast may be a cyst filled with fluid or a solid tumor.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div >
      Breast ultrasound is an imaging test that uses sound waves to look at the inside of your breasts. It can help your healthcare provider find breast problems. It also lets your healthcare provider see how well blood is flowing to areas in your breasts. This test is often used when a change has been seen on a mammogram or when a change is felt, but does not show up on a mammogram.
    </div>
    
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header style="height: 150px;">
      <mat-panel-title>
       Breast Biospy
      </mat-panel-title>
      <mat-panel-description>
        A critical first step in getting patients the best treatment possible for their particular type of breast cancer.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      There are two basic types of breast biopsy: surgical and needle. A breast biopsy done surgically through an incision in the skin is called a surgical breast biopsy. A breast biopsy done by inserting a needle through the skin is called a breast needle biopsy.
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel ngClass.gt-md="test-end" [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header >
      <mat-panel-title>
        Breast MRI
      </mat-panel-title>
      <mat-panel-description>
        A breast MRI usually is performed after you have a biopsy that's positive for cancer.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      Magnetic resonance imaging (MRI) of the breast — or breast MRI — is a test used to detect breast cancer and other abnormalities in the breast.A breast MRI usually is performed after you have a biopsy that's positive for cancer and your doctor needs more information about the extent of the disease. For some people, a breast MRI may be used with mammograms as a screening tool for detecting breast cancer. That group of people includes women with a high risk of breast cancer, who have a very strong family history of breast cancer or carry a hereditary breast cancer gene mutation.
    </div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

