table {
    width: 78vw;
    margin-top: 3vh;
  }
  .heading{
    margin-top: 1vw;
    font-style: oblique;
    font-size: 30px;
    font-weight: bold;
    color: palevioletred;
    margin-left: 2vw;
  }