<div ngClass.gt-sm="container-timeline" ngClass.lt-lg="container-timeline-mobile">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2><b>Share Files</b></h2>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1vw">
      <div>
        <span>Select the </span>
        <span *ngIf="userType === 'doctor'">Warrior</span>
        <span *ngIf="userType !== 'doctor'">Doctor</span>
      </div>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedValue" name="loginTypes" (selectionChange)="userChange()">
          <mat-option *ngFor="let user of (userType === 'doctor') ? warriors : doctors" [value]="user.id" >
            {{user.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
          <table class = "mat-elevation-z8 table marginTop"> 
               <tr align="center"><span> <b>Files to Share</b></span></tr>
               <tr align="left">
                 <td>
                  <mat-checkbox><i color="pink">Select All</i></mat-checkbox>             
                  <i color="pink" style="margin-left: 9vw;">Last Uploaded</i>
                 </td>
                </tr>
               <tr  *ngFor="let file of fileList" class="tp-section">
                 <td fxFlex fxLayoutGap="3vh" fxLayout="row" class="tp-margin">
                  <mat-checkbox fxFlex="10"></mat-checkbox>        
                  <span fxFlex="70">{{file}}</span> 
                  <!-- <div fxFlex="32">2020-10-01 03:38</div>  -->
                 </td>
                 <td fxFlex fxLayout="row" fxLayoutGap="2vw" style="margin-left: 7vw;" class="tp-margin">
                  <button mat-raised-button color="primary" type="submit" class="butView">View</button>
                  <button mat-raised-button color="primary" type="submit" class="butView">Download</button>
                 </td>
               </tr>
               </table>
        <div fxFlex="30" fxLayout="row" fxLayoutGap="2vw">
        <button mat-raised-button color="primary" type="submit" class="butMob button_outline" (click)="openNotification()" >Share</button>
        <button mat-raised-button *ngIf="userType !== 'doctor'" color="primary" class="butMob button_outline">Upload File</button>
        <button mat-raised-button *ngIf="userType !== 'doctor'" color="primary" class="butMob button_outline">Scan File</button>
      </div>

</div>