<div ngClass.gt-sm="container-timeline" ngClass.lt-lg="container-timeline-mobile" fxLayoutAlign="center center" >
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="card">
          <table class = "mat-elevation-z8 table-prop marginTop"> 
              <thead>
                <tr>
                  <th><mat-checkbox (change)="selectAllcheckBox()"></mat-checkbox></th>
                  <th>File Name</th>
                  <th>View</th>
                  <th *ngIf="userType !=='doctor'">Download</th>
                  <th *ngIf="userType !=='doctor'">Delete</th>
                  <th *ngIf="userType !=='doctor'">Shared With</th>
                  <th *ngIf="userType !=='doctor'">Pending Approval(s)</th>
                  <th *ngIf="userType !=='doctor'">Last Updated</th>
                </tr>
              </thead>
              <tr *ngFor="let file of fileList">
                <td><mat-checkbox  [checked]="checkAtrr"></mat-checkbox></td>
                <td>{{file}}</td>
                <td><span class="material-icons mat-icon" (click)="openImage()">pageview</span></td>
                <td *ngIf="userType !=='doctor'"><span class="material-icons mat-icon">cloud_download</span></td>
                <td *ngIf="userType !=='doctor'"><span class="material-icons mat-icon">delete</span></td>
                <td *ngIf="userType !=='doctor'"><span class="mat-icon" (click)="openSharedWith()"><i>2</i></span></td>
                <td *ngIf="userType !=='doctor'"><span class="mat-icon" (click)="openPendingApproval()"><i>3</i></span></td>
                <td *ngIf="userType !=='doctor'"><span>2020-10-01 08:30</span></td>
              </tr>
            </table>
        <div fxFlex="30" fxLayout="row" fxLayoutGap="2vw">
        <button mat-raised-button color="primary" type="submit" class="butMob button_outline" (click)="openNotification()" >Share</button>
        <button mat-raised-button *ngIf="userType !== 'doctor'" color="primary" class="butMob button_outline">Upload File</button>
        <button mat-raised-button *ngIf="userType !== 'doctor'" color="primary" class="butMob button_outline">Scan File</button>
      </div>
    </div>
</div>