
<!-- Slide Menu-->

<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}" (click)="toggleMenu()" *ngIf="userType">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu}"
       (click)="$event.stopImmediatePropagation();">
    <section class="menu-header" [ngClass]="{'menu-header-dark': darkModeActive}">
      <!-- <span class="greeting__text">Welcome Back</span> -->
      <div class="profile-image__container">
        <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="profile-image"
             class="profile__image">
      </div>
      <div class="account-details">
        <!-- <span class="name__text">{{userEmail}}</span> -->
        <span class="email__text">{{ userName }}</span>
      </div>
    </section>
    <section class="menu-body">
      <ul class="menu-links" [ngClass]="{'menu-links-dark': darkModeActive}" (click)="toggleMenu()">
        <!-- Parent links -->
        <li class="menu-link" *ngIf="userType==='doctor'" [routerLinkActiveOptions]="{exact:true}" routerLink="/studReg" routerLinkActive="link-active">Image Sharing</li>
        <li class="menu-link" *ngIf="userType==='doctor'" [routerLinkActiveOptions]="{exact:true}" routerLink="/perReq" routerLinkActive="link-active">Counseling/Motivational Support</li>
        <li class="menu-link" *ngIf="userType==='doctor'" [routerLinkActiveOptions]="{exact:true}" routerLink="/calendar" routerLinkActive="link-active">Raising Funds</li>
        <li class="menu-link" *ngIf="userType==='doctor'" [routerLinkActiveOptions]="{exact:true}" routerLink="/calendar" routerLinkActive="link-active">Notifications</li>
        <!-- Admin links -->
        <li class="menu-link" *ngIf="userType==='warrior'" [routerLinkActiveOptions]="{exact:true}" routerLink="/search" routerLinkActive="link-active">Self Test Questionaire</li>
        <li class="menu-link" *ngIf="userType==='warrior'" [routerLinkActiveOptions]="{exact:true}" routerLink="/stir" routerLinkActive="link-active">Consulting with doctor</li>
        <li class="menu-link" *ngIf="userType==='warrior'" [routerLinkActiveOptions]="{exact:true}" routerLink="/pendingRequest" routerLinkActive="link-active">Report scanning </li>
        <li class="menu-link" *ngIf="userType==='warrior'" [routerLinkActiveOptions]="{exact:true}" routerLink="/trackBus" routerLinkActive="link-active" >Make a Wish</li>
        <li class="menu-link" *ngIf="userType==='warrior'" [routerLinkActiveOptions]="{exact:true}" routerLink="/addAnnouncement" routerLinkActive="link-active" >Notifications</li>
        <li class="menu-link" *ngIf="userType==='warrior'" [routerLinkActiveOptions]="{exact:true}" routerLink="/addAnnouncement" routerLinkActive="link-active" >Near by centers details</li>
        <li class="menu-link" *ngIf="userType==='warrior'" [routerLinkActiveOptions]="{exact:true}" routerLink="/addAnnouncement" routerLinkActive="link-active" >Image Sharing</li>
        <li (click)="logout()" class="menu-link">Logout</li>
      </ul>
    </section>
    <section class="menu-footer">

      <small class="copyright__text">Copyright © 2020</small>
    </section>
  </nav>
</aside>

<main class="root__container">
  <header class="main__header" *ngIf="userType">

    <div class="left__section">
      <svg (click)="toggleMenu()" class="hamburger__icon" ngClass.xs="hamburger__icon-mob" id="Menu_Burger_Icon" data-name="Menu Burger Icon"
           viewBox="31.5 30 49.9 32">
        <defs>
          <style>.hamburger__icon__fill {
            fill: #594e78
          }</style>
        </defs>
        <rect id="Rectangle_9" width="49.9" height="4"
              class="hamburger__icon__fill" data-name="Rectangle 9" rx="2"
              transform="translate(31.5 58)"></rect>
        <rect id="Rectangle_10" width="49.9" height="4"
              class="hamburger__icon__fill" data-name="Rectangle 10" rx="2"
              transform="translate(31.5 44)"></rect>
        <rect id="Rectangle_11" width="49.9" height="4"
              class="hamburger__icon__fill" data-name="Rectangle 11" rx="2"
              transform="translate(31.5 30)"></rect>
      </svg>
      
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-md="2vw" (click)="goToHome()">
        <img src="assets/headerlogo.png" ngClass.gt-sm="header" ngClass.lt-lg="header-mobile">               
    </div>
    </div>

  </header>

  <!-- Main Content -->

  <div class="main-container__bg">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>


</main>
