mgl-timeline mgl-timeline-entry mgl-timeline-entry-dot.accent {
    background-color: #ff4081;
  }
  mgl-timeline-entry-side {
    color: white;
  }

.container-timeline{
  width: 700px;
    margin: 4vw;
    padding: 2px 16px;
    border-radius: 36px;
    // background: -webkit-gradient(linear,left top,left bottom,from(#5ee7df),to(#66a6ff));
    background: -webkit-gradient(linear, left top, left bottom, from(#f795c6), to(#FFB6C1));
    animation: 1s ease-in-out slideup,1.5s ease-in-out fadein;
}
.container-timeline-mobile{
  width: 300px;
  
    padding: 2px 16px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f795c6), to(#FFB6C1));
    animation: 1s ease-in-out slideup,1.5s ease-in-out fadein;
}
.login-logo{
  width: 50px;
  height: 40px;
}
.heading{
  margin-top: 1vw;
  font-style: oblique;
  font-size: 30px;
  font-weight: bold;
  color: palevioletred;
  margin-left: 2vw;
}