<div fxLayout="column">
  <div fxLayout.gt-md="row" fxLayout.lt-lg="column">
      <section class="weather__card"          
        [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}">
          <span class="city-name__text">Warrior's Count</span>
          <div class="circle">          
          24
          </div>
          <div class="temperature-text__container">
          <span class="weather-condition__text">Person Whom you care</span>
          </div>      

    </section>
    <section class="weather__card"          
        [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}">
          <span class="city-name__text">Today's Appointment</span>
          <div class="circle">          
            10
            </div>
          <div class="temperature-text__container">
          <span class="weather-condition__text">Warriors you need to take care</span>
          </div>      

      </section>
      <section class="weather__card"          
              [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}">
        <span class="city-name__text">Motivational Support</span>
        <div class="circle">          
          02
          </div>
        <div class="temperature-text__container">
          <span class="weather-condition__text">Session for Warriors</span>
        </div>      

      </section>    
  </div>

  <div fxLayout.gt-md="row" fxLayout.lt-lg="column">
      <section class="weather__card"          
              [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}">
        <span class="city-name__text">Raising Funds</span>
        <div class="circle">          
          $10
          </div>
        <div class="temperature-text__container">
          <span class="weather-condition__text">Contribution to Warriors</span>
        </div>     

      </section>

      <section class="weather__card"          
              [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}">
        <span class="city-name__text">Notifications</span>
        <div class="circle">          
         03
          </div>
        <div class="temperature-text__container">
          <span class="weather-condition__text">General Updates</span>
        </div>    

      </section>
      <section class="weather__card"          
              [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}" (click)="openPendingAppoin()">
        <span class="city-name__text" >Pending Appointment's</span>
        <div class="circle">          
          06
          </div>
        <div class="temperature-text__container">
          <span class="weather-condition__text">Warriors who needs your care</span>
        </div>    

      </section>
    </div>
</div>