<section class="weather__card" 
         
         [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}">
  <div class="welcomeMsg">
    <img src="assets/loginlogo.png" ngClass.gt-sm="login-logo" ngClass.lt-lg="login-logo-mobile">               
  </div>  
  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="2vw">
    <strong style="color: #f45b8e;">Ready to be you ?</strong>    
    <mat-radio-group aria-label="Select an option" [(ngModel)]="yesOrNo" (change)="clickEvent($event)">
      <mat-radio-button value="yes">Yes</mat-radio-button>
      <mat-radio-button value="no">No, Be anonymous</mat-radio-button>
    </mat-radio-group>
    <div fxFlex *ngIf = "yesFlag" style="text-align: center;">      
      <strong style="color: #f45b8e;">Cool!!!...😎 Login using any one of the below social media  </strong> <br>
    </div>
    <div fxFlex *ngIf = "noFlag" style="text-align: center;">      
      <strong style="color: #f45b8e;"> No Problem!!! We respect your privacy. 😇 </strong><br>
      <strong style="color: #f45b8e;">Sign Up/Sign In Anonymously 👍 </strong>
    </div>
  </div>
  <div class="loginContainer"> 
   
      <div *ngIf = "yesFlag" [ngClass]="{'quickLogin_Yes': yesFlag, 'quickLogin_No': noFlag, 'quickLogin_Already': alreadyFlag}">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2vh">
          <div style="margin-top: 2vh;">
          </div>
          <div fxFlex="10">            
          </div>      
          <div  fxFlex="90" style="margin-top: 6vh;">           
                <div><a href="#" class="fb btn">
                  <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                 </a>
                </div>
                <div  (click)="doGoogleLogin()"><a href="#" class="google btn"><i class="fa fa-google fa-fw">
                </i> Login with Google
              </a></div>
                <div ><a href="#" class="instagram btn">
                  <i class="fa fa-instagram fa-fw"></i> Login with Instagram
                </a></div>
                <div ><a href="#" class="twitter btn">
                  <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                </a></div>
                <div><a href="#" class="linkedin btn">
                  <i class="fa fa-linkedin fa-fw"></i> Login with LinkedIn
                </a></div>
          </div>     
                  
        </div>
    </div>
      <div *ngIf = "noFlag" [ngClass]="{'quickLogin_Yes': yesFlag, 'quickLogin_No': signUp, 'quickLogin_Already': login}">
          <mat-tab-group mat-stretch-tabs [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChanged($event)" ngStyle.gt-sm="padding-bottom: 1vw;">
            <mat-tab label="Login"></mat-tab>
            <mat-tab label="SignUp"></mat-tab>
          </mat-tab-group> 
          <div *ngIf = "signUp"> 
            <div fxLayout="column" style="margin-left: 10vw;">             
              <div fxFlex="50" style="margin-top: 2vh;">
                <form [formGroup]="signUpForm">
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1vw" fxLayoutAlign="start start">
                    <div fxFlex="40">
                      <mat-form-field>
                        <input matInput  formControlName="firstName" placeholder="First name">
                      </mat-form-field>
                    </div>
                    <div fxFlex="50">
                      <mat-form-field>
                        <input matInput  formControlName="lastName" placeholder="Last name">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1vw" fxLayoutAlign="start start">
                    <div fxFlex="40">
                      <mat-form-field>
                        <input matInput  type="email" formControlName="emailId" [(ngModel)]="emailGrav" placeholder="Email Id">
                      </mat-form-field>
                    </div>
                    <div fxFlex="50">
                      <mat-form-field>
                        <input matInput  type="password" formControlName="password" placeholder="Password">
                      </mat-form-field>
                    </div>                   
                  </div>
                  <div fxLayout="row"  fxLayout.lt-md="column" fxLayoutGap="1vw" fxLayoutAlign="start start">
                    <div fxFlex="40">
                      <mat-form-field>
                        <input matInput  type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                                (keyup)="checkPassword($event)">
                        <mat-error *ngIf="signUpForm.controls['confirmPassword'].errors">
                          <div [hidden]="!signUpForm.get('confirmPassword').errors.pwdMatch">
                            <span class="error-message">Password does not match</span>
                          </div>      
                        </mat-error>
                      </mat-form-field>                   
                    </div>
                    <div fxFlex="50">
                      <mat-form-field>
                        <input matInput  type="username" formControlName="username" placeholder="Username">
                      </mat-form-field>
                    </div>                     
                  </div> 
                  <div fxLayout="row"  fxLayout.lt-md="column" fxLayoutGap="1vw" fxLayoutAlign="start start">
                    <div fxFlex="100">
                      <button *ngFor="let f of fallbacks" (click)="getAvatar(f)" class="avatar">
                        <img ngxGravatar [email]="emailGrav" size="50" [fallback]="f" borderColor="rgba(0, 0, 0, 0.2)" />
                      </button>
                    </div>
                  </div>
                  <div fxLayout="row"  fxLayout.lt-md="row" fxLayoutGap="1vw" fxLayoutAlign="end end">
                    <div fxFlex="50" fxLayoutAlign="space-between end">
                      <button mat-raised-button color="primary" type="submit" class="button_outline" (click)="doSignUp()">SignUp</button>&nbsp;&nbsp;
                    </div>
                    <div fxFlex="50" fxLayoutAlign="space-between end">
                      <button (click)="resetForm(2)" mat-raised-button class="button_dark">Reset</button>
                    </div>
                  </div>                
                </form>
              </div>   
            </div>      
          </div>
          <div *ngIf="login">
            <div fxLayout="column" fxLayoutAlign="center center">
              <div style="margin-top: 3vh;">
                <div fxLayoutAlign="center center">
                  <mat-form-field *ngIf="login">
                    <mat-select [(ngModel)]="selectedValue" name="loginTypes" (selectionChange)="typeChange()">
                      <mat-option *ngFor="let useType of types" [value]="useType.value" >
                        {{useType.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="login">
                <div fxLayout="column">
                  
                  <div fxFlex="50" style="margin-top: 2vh;">
                    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
                      <mat-form-field>
                        <input matInput  formControlName="userName" placeholder="{{somePlaceholder}}">
                      </mat-form-field>
                      <br>
                      <mat-form-field>
                        <input matInput  type="password" formControlName="password" placeholder="Password">
                      </mat-form-field> 
                      <div *ngIf="invalidLogin">
                        <span class="error-message">{{errorMsg}}</span>
                      </div>
                      <br>
                      <button mat-raised-button color="primary" type="submit" class="butMob button_outline">Login</button>&nbsp;&nbsp;
                      <button (click)="resetForm(1)" mat-raised-button class="button_dark">Reset</button>
                    </form>
                  </div>    
                </div>  
              </div>    
            </div>
          </div>
        </div>
        </div>
    <!-- </div> -->
    
  <!-- <div *ngIf="signUp" class="loginContainer">
      <div class="quickLogin" fxLayoutAlign="center start">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div style="margin-top: 3vh;">

          </div>
          <div fxFlex="20">
            <div fxLayout="row">
              <div fxFlex="100">Sign Up Form</div>
            </div>
          </div>      
          <div fxFlex="50" style="margin-top: 2vh;">
            <form [formGroup]="signUpForm" (ngSubmit)="doSignUp()">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1vw" fxLayoutAlign="start start">
                <div fxFlex="50">
                  <mat-form-field>
                    <input matInput  formControlName="firstName" placeholder="First name">
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field>
                    <input matInput  formControlName="lastName" placeholder="Last name">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1vw" fxLayoutAlign="start start">
                <div fxFlex="50">
                  <mat-form-field>
                    <input matInput  type="email" formControlName="emailId" placeholder="Email Id">
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field>
                    <input matInput  type="password" formControlName="password" placeholder="Password">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row"  fxLayout.lt-md="column" fxLayoutGap="1vw" fxLayoutAlign="start start">
                <div fxFlex="50">
                  <mat-form-field>
                    <input matInput  type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                            (keyup)="checkPassword($event)">
                    <mat-error *ngIf="signUpForm.controls['confirmPassword'].errors">
                      <div [hidden]="!signUpForm.get('confirmPassword').errors.pwdMatch">
                        <span class="error-message">Password does not match</span>
                      </div>      
                    </mat-error>
                  </mat-form-field>                   
                </div>
                <div fxFlex="50" fxLayoutAlign="space-between end">
                  <button mat-raised-button color="primary" type="submit">SignUp</button>&nbsp;&nbsp;
                  <button (click)="resetForm(2)" mat-raised-button color="warn">Reset</button>
                </div>
              </div>
            </form>
          </div>          
        </div>
    </div>
  </div>   -->
  <!-- <div *ngIf="studentLogin"  class="loginContainerStudent">
    <div class="quickLogin">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div style="margin-top: 3vh;">

        </div>
        <div fxFlex="20">
          <div fxLayout="row">
            <div fxFlex="100">Student Login Form</div>
          </div>
        </div>      
        <div fxFlex="50" style="margin-top: 2vh;">
          <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
            <mat-form-field>
              <input matInput  formControlName="userName" placeholder="Roll Number">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput  type="password" formControlName="password" placeholder="Password">
            </mat-form-field> 
            <div *ngIf="invalidLogin">
              <span class="error-message">Roll Number or Pasword is incorrect</span>
            </div>
            <br>
            <button mat-raised-button color="primary" type="submit" class="butMob">Login</button>&nbsp;&nbsp;
            <button (click)="resetForm(3)" mat-raised-button color="warn">Reset</button>
          </form>
        </div>          
      </div>
    </div>
  </div> -->
</section>