<div fxLayout="column">
  <div fxLayout="row">
      <section ngClass.gt-md="weather__card"  ngClass.lt-md="weather__card__mobile"
        [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}" (click)="openTimelineView()">         
          <img src="assets/statistics_image.png" ngClass.gt-md="login-logo" ngClass.lt-md="login-logo-mobile" > 
    </section>
    <section ngClass.gt-md="weather__card"  ngClass.lt-md="weather__card__mobile"         
        [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}" (click)="openReportScanning()">         
          <img src="assets/scanning_icon.png" ngClass.gt-md="login-logo" ngClass.lt-md="login-logo-mobile"> 
      </section>
      <section ngClass.gt-md="weather__card"  ngClass.lt-md="weather__card__mobile"          
              [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}" (click)="gotToMakeAWish()">
        <img src="assets/make_wish.jpg" ngClass.gt-md="login-logo" ngClass.lt-md="login-logo-mobile"> 
      </section>   
      
      <section ngClass.gt-md="weather__card"  ngClass.lt-md="weather__card__mobile"          
              [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}" (click)="openPendingPermission()">
              <img src="assets/notification_icon.png" ngClass.gt-md="login-logo" ngClass.lt-md="login-logo-mobile">
      </section> 
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="cls-feed">
        <div>
          <h3><b>My Feed</b></h3>
        </div>
        <div ngClass.gt-md="cls-feed-txt" ngClass.lt-md="cls-feed-txt-mobile">
          Here you can read public conversations  that could match your personal interests.          
        </div>  
        <div ngClass.gt-md="cls-feed-txt" ngClass.lt-md="cls-feed-txt-mobile">         
          The more accurately you fill your profile, the more relevant content you will recieve.
        </div>    
      <div fxLayout="column" fxLayoutGap="2vw"> 
        <div fxLayout="row" fxLayoutGap="3vw" fxLayout.xs="column">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar><img src="assets/profile_img_avatar.png" alt="Photo of a Shiba Inu" class="avatar"></div>
                <mat-card-title>Raja Sri 208</mat-card-title>
                <mat-card-subtitle>Member</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="assets/blur_image.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                Sir doctor says radiation is necessary. I want to know what is my condition & my case is metastatic or not.pet scan report...
                Read more
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary">Follow</button>
                <button mat-raised-button >Chat</button>
                <button mat-raised-button style="background-color: #ff4081;color: white;">Hug</button>
              </mat-card-actions>
            </mat-card>
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar><img src="assets/profile_img_avatar.png" alt="Photo of a Shiba Inu" class="avatar"></div>
                <mat-card-title>Raja Sri 208</mat-card-title>
                <mat-card-subtitle>Member</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="assets/blur_image.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                Sir doctor says radiation is necessary. I want to know what is my condition & my case is metastatic or not.pet scan report...
                Read more
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary">Follow</button>
                <button mat-raised-button >Chat</button>
                <button mat-raised-button style="background-color: #ff4081;color: white;">Hug</button>
              </mat-card-actions>
            </mat-card>
        </div>
        
        <div fxLayout="row" fxLayoutGap="3vw" fxLayout.xs="column">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar><img src="assets/profile_img_avatar.png" alt="Photo of a Shiba Inu" class="avatar"></div>
              <mat-card-title>Raja Sri 208</mat-card-title>
              <mat-card-subtitle>Member</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/blur_image.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
              Sir doctor says radiation is necessary. I want to know what is my condition & my case is metastatic or not.pet scan report...
              Read more
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">Follow</button>
              <button mat-raised-button >Chat</button>
              <button mat-raised-button style="background-color: #ff4081;color: white;">Hug</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar><img src="assets/profile_img_avatar.png" alt="Photo of a Shiba Inu" class="avatar"></div>
              <mat-card-title>Raja Sri 208</mat-card-title>
              <mat-card-subtitle>Member</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/blur_image.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
              Sir doctor says radiation is necessary. I want to know what is my condition & my case is metastatic or not.pet scan report...
              Read more
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">Follow</button>
              <button mat-raised-button >Chat</button>
              <button mat-raised-button style="background-color: #ff4081;color: white;">Hug</button>
            </mat-card-actions>
          </mat-card>
      </div>
      </div>
  </div>
  
</div>
