
 .vid {
    width: 100%;
    height: 100%;
}

body {
  background-color: #F0F0F0;
}
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#video {
  background-color: #000000;
}
#canvas {
  display: none;
}
li {
  display: inline;
  padding: 5px;
}

ul.SimpleMenu {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
ul.SimpleMenu li {
  background-color: #C0C0C0;
  width: 8em;
  border-style: outset;
  border-width: 1px
}

.table-prop{
  width: 30vw!important;
  height: 20vw!important;
  max-width: 75vw!important;
  background-color: white;
  border-radius: 25px;
  padding: 2px,2px,2px,2px;
}

.marginTop {
  margin-bottom: 20px;
}

.mat-icon{
  cursor: pointer;
  color: palevioletred;
}