<div *ngIf="data.action=='StudentInfo'">
  <mat-dialog-content class="mat-typography">
  <p *ngIf="!parents">Sent notification to admin. Do you want to inform parents too?</p>
  <p *ngIf="parents">Sent notification to parents</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button *ngIf="!parents" (click)="sendToAdmin()">Ok</button>
</mat-dialog-actions>
</div>
<div *ngIf="data.action=='Payment'">
  <mat-dialog-content class="mat-typography">
    <p >You have successfully registered.</p>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
  </mat-dialog-actions>
</div>
<div *ngIf="data.action=='pendingPermission'" >
  <mat-dialog-content class="mat-typography">
    <p *ngIf="data.status=='Approved'">The request number {{data.requestId}} is approved.</p>
    <p *ngIf="data.status=='Rejected'">The request number {{data.requestId}} is rejected.</p>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
  </mat-dialog-actions>
</div>
<div *ngIf="data.action=='calendar'" >
  <mat-dialog-content class="mat-typography">
    <p >Events are synced with google or outlook calendar.</p>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
  </mat-dialog-actions>
</div>
<div *ngIf="data.action=='ReportScanning'">
  <mat-dialog-content class="mat-typography">   
    <div id="app">
      <!-- <div><video #video id="video" width="640" height="480" autoplay></video></div> -->
      <img src="assets/doc_scan_icon.png" ngClass.gt-md="login-logo" ngClass.lt-md="login-logo-mobile"> 
      <div><button id="snap" (click)="capture()" class="button_outline" mat-button>Snap Photo</button></div>
      <canvas #canvas id="canvas" width="640" height="480"></canvas>
      <ul>
          <li *ngFor="let c of captures">
              <img src="{{ c }}" height="50" />
          </li>
      </ul>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="button_dark">Cancel</button>
  <button mat-button  (click)="saveReport()"  class="button_outline">Ok</button>
</mat-dialog-actions>
</div>

<div *ngIf="data.action=='SharedWith'">
  <mat-dialog-content class="mat-typography">   
    <div id="app">
      <span><b><i>{{data.fileName}}</i></b> is shared with the following doctors</span>
     <ul *ngFor="let doctor of data.doctors" class="SimpleMenu">
       <li>{{doctor}}</li>
     </ul>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
</div>

<div *ngIf="data.action=='PendingApprovals'">
  <mat-dialog-content class="mat-typography">   
    <div id="app" fxFlex fxLayout="column" fxLayoutGap="1vw">
      <div align="center"><b><i>{{data.fileName}}</i></b></div>
      <table class = "mat-elevation-z8 table-prop marginTop"> 
        <thead>
          <tr>
            <th>Doctor</th>
            <th>Approve</th>
            <th>Reject</th>
          </tr>
        </thead>
        <tr *ngFor="let doctor of data.doctors">
          <td><span>{{doctor}}</span></td>
          <td><span class="material-icons mat-icon" (click)="openApproveOrReject('approve')">check_circle</span></td>
          <td><span class="material-icons mat-icon" (click)="openApproveOrReject('reject')">disabled_by_default</span></td>
        </tr>
      </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
</div>


<div *ngIf="data.action==='approve' || data.action ==='reject'">
  <mat-dialog-content class="mat-typography">   
    <div id="app">
      Are you sure you want to {{data.action}} sharing {{data.fileName}} with {{data.doctor}} ?
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Yes</button>
  <button mat-button mat-dialog-close>No</button>
</mat-dialog-actions>
</div>

<div *ngIf="data.action==='showImage'">
  <mat-dialog-content class="mat-typography">  
    <h2 align="center">ECG Image</h2> 
    <img src="assets/ECG.jpg" ngClass.gt-md="login-logo" ngClass.lt-md="login-logo-mobile"> 
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close  class="button_dark">CLOSE</button>
  </mat-dialog-actions>  
</div>