  <div class="heading">Meet the Saviours</div>

<mat-accordion>

	<mat-expansion-panel style="width: 81vw;
  margin-left: 7vw;margin-top:2vh;">
		<mat-expansion-panel-header [collapsedHeight]="'140px'" [expandedHeight]="'190px'">
      <div fxLayout="row" fxLayoutAlign="center center" >
        <div fxFlex="50">
          <img src="assets/doc2.png" alt="doctor" style="width:100px;height:100px;display: block;border-radius: 50%;">
        </div>
        <div fxFlex="50">
          <strong>Banu Arun</strong>
          <br>
          Founder and Co-Medical Director, Clinical Cancer Genetics Program
          <br>
          MD Anderson Cancer Center
        </div>
      </div>      
		</mat-expansion-panel-header>
    Arun founded one of the largest cancer genetics programs in the world. Her research interests include breast cancer treatment, biological markers, chemoprevention, and breast cancer genetics. Dr. Arun currently serves on the National Comprehensive Cancer Network committee that makes national guidelines for breast cancer screening and management of high risk women.
    <br>
    <div fxLayout="row" fxLayoutAlign="end end">
      <button mat-raised-button color="accent">Book Appointment</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="width: 81vw;
  margin-left: 7vw;margin-top:2vh;">
		<mat-expansion-panel-header [collapsedHeight]="'140px'" [expandedHeight]="'190px'">
      <div fxLayout="row" fxLayoutAlign="center center" >
        <div fxFlex="50">
          <img src="assets/doc1.png" alt="doctor" style="width:100px;height:100px;display: block;border-radius: 50%;">
        </div>
        <div fxFlex="50" style="margin-left: 6vw;">
          <strong>José Baselga</strong>
          <br>
          Physician-in-Chief
          <br>
          Memorial Sloan Kettering Cancer Center
        </div>
      </div>      
		</mat-expansion-panel-header>
    Baselga, who is also a professor of medicine at Weill Cornell Medical College, has been involved in the the development of targeted agents for the treatment of breast cancer for decades. He conducted pivotal laboratory and clinical studies that led to the approval of Herceptin, Perjeta, and Affinitor. He’s also focused on why tumors become resistant to these drugs, leading them to stop working.
    <br>
    <div fxLayout="row" fxLayoutAlign="end end">
      <button mat-raised-button color="accent">Book Appointment</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel style="width: 81vw;
  margin-left: 7vw;margin-top:2vh;">
		<mat-expansion-panel-header [collapsedHeight]="'140px'" [expandedHeight]="'190px'">
      <div fxLayout="row" fxLayoutAlign="center center" >
        <div fxFlex="50">
          <img src="assets/doc3.png" alt="doctor" style="width:100px;height:100px;display: block;border-radius: 50%;">
        </div>
        <div fxFlex="50" style="margin-left: 9vw;">
          <strong>Harold Burstein</strong>
          <br>
          Institute Physician
          <br>
          Dana-Farber Cancer Institute
        </div>
      </div>      
		</mat-expansion-panel-header>
    Burstein, also an associate professor of medicine at Harvard Medical School, focuses on novel treatments for early- and advanced-stage breast cancer, and studies of quality of life and health behavior among women with breast cancer. He serves on the National Comprehensive Cancer Network Breast Cancer Panel and the Oncology Drug Advisory Committee for the US Food and Drug Administration. Much of his work has related to new hormone-related treatments for breast cancer.
    <br>
    <div fxLayout="row" fxLayoutAlign="end end">
      <button mat-raised-button color="accent">Book Appointment</button>
    </div>
	</mat-expansion-panel>
</mat-accordion> 
